*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body{
    font-display: swap;
}

.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}
@media (min-width:1600px) {
    .container {
        width: 1570px
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.container:after,
.container:before,
.row:after,
.row:before {
    content: " ";
    display: table
}

.container:after,
.row:after {
    clear: both
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

p{
    margin: 0 0 10px;
}