$redcolor: #f15748;
$redcolorhover: #fb6659;
$primarycolorlight: #7f7f7f;
$primarycolor: #4c4c4c;
$greencolor: #129D6F;
$greencolorhover: #2abb8b;
$yellowcolor: #F7BE45;
$headingfont: 'Bebas Neue', sans-serif;