body.page-template-page_pdf{
    .siteHeader,
    .siteFooter{
        display: none !important;
    }
}

body.admin-bar{
    .pagePDF{
        min-height: calc(100vh - 32px);

        @media (max-width: 991px){
            min-height: calc(100vh - 46px);
        }
    }
}

.pagePDF{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    &__wrap{
        text-align: center;

        img{
            display: block;
            max-width: 600px;
            width: 100%;
            margin: -40px auto 0;
        }
        h1{
            font-size: 48px;
            line-height: 58px;        
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 400;
            color: #000;
            text-align: center;
            margin: 0;
        }
        .btn{
            display: none;
            margin: 40px auto 0;
            padding: 0 30px;

            &.visible{
                display: inline-block;
            }

            &--back{
                span{
                    padding-left: 15px;
                }
            }   
        }
    }
}
@media (max-width: 767px){
    .pagePDF{
        &__wrap{
            h1{
                font-size: 28px;
                line-height: 34px;
            }
            .btn{
                margin: 20px auto 0;
            }
        }
    }
}