.psibufet{
    &--rasapsa{
        .container{
            @media (min-width: 1600px){
                width: 1170px;
            }
        }
        .sectionContent{
            width: 100%;
            max-width: calc(100% - 268px);
            padding-right: 40px;
        }
    }
}
@media (max-width: 991px){
    .psibufet{
        &--rasapsa{
            .sectionContent{
                max-width: 100%;
                padding-right: 0;
            }
        }
    }
}
@media (max-width: 767px){
    .psibufet{
        &--rasapsa{
            .container{
                padding: 0 20px;
            }
        }
    }
}

.raspostHeader{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 580px;
    display: flex;
    align-items: center;

    &__wrap{
        h1{
            font-size: 72px;
            line-height: 86px;
            font-weight: 400;
            font-family: 'Bebas Neue', sans-serif;
            color: #fff;
            margin: 0;
            text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
        }
    }
}
@media (max-width: 991px){
    .raspostHeader{
        min-height: 250px;
        align-items: flex-end;
        justify-content: center;

        &__wrap{
            margin: 0 0 12px;

            h1{
                font-size: 42px;
                line-height: 50px;
                margin: 0;
                text-align: center;
            }
        }
    }
}

.postContent{
    position: relative;
}

.raspostMainInfo{
    background-color: rgba(247, 190, 69, 0.5);
    padding: 32px 0 35px;

    &__wrap{
        .info{
            p{
                font-size: 24px;
                line-height: 32px;
                text-align: justify;
                color: #000;

                &:last-of-type{
                    margin: 0;
                }
            }
        }
        .usp{
            display: flex;
            justify-content: space-between;

            &__pos{
                width: 100%;
                max-width: calc(100% / 4 - 3px);
                text-align: center;

                img{
                    margin: 0 0 -15px;
                }

                .name{
                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 700;
                    color: #000;
                    margin: 0 0 20px;
                }
                .rate{
                    font-size: 36px;
                    line-height: 36px;
                    font-weight: 400;
                    font-family: 'Bebas Neue', sans-serif;
                    color: #000;
                    margin: 0;

                    span{
                        font-size: 54px;
                    }
                }
            }
        }
    }
}
@media (max-width: 991px){
    .raspostMainInfo{
        &__wrap{
            .usp{
                flex-wrap: wrap;
                max-width: 400px;
                margin: 0 auto;

                &__pos{
                    max-width: calc(100% / 2 - 3px);
                    margin: 0;

                    .name{
                        font-size: 18px;
                        line-height: 24px;
                    }
                    .rate{
                        font-size: 32px;
                        line-height: 32px;

                        span{
                            font-size: 48px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px){
    .raspostMainInfo{
        &__wrap{
            .info{
                p{
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            .usp{
                max-width: 300px;

                &__pos{
                    .name{
                        font-size: 14px;
                        line-height: 21px;
                    }
                    .rate{
                        font-size: 24px;
                        line-height: 24px;

                        span{
                            font-size: 36px;
                        }
                    }
                }
            }
        }
    }
}

.raspostMainheading{
    padding: 30px 0 40px;

    .tags{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 40px;

        &__heading{
            font-size: 48px;
            line-height: 56px;
            font-weight: 400;
            font-family: 'Bebas Neue', sans-serif;
            color: #000;
            text-align: center;
            margin: 0 0 20px;
        }
        &__tag{
            font-size: 24px;
            line-height: 28px;
            color: #000;
            margin: 0;
            padding-right: 15px;
            margin-right: 15px;
            margin-bottom: 10px;
            position: relative;

            &:after{
                content: '';
                width: 2px;
                height: 24px;
                background-color: $yellowcolor;
                display: block;
                position: absolute;
                top: 2px;
                right: -1px;
            }
        }
    }
    .contentsTable{
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
        padding: 38px 40px 56px;

        &__heading{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 20px;
            position: relative;

            &:after{
                content: '';
                width: 100%;
                height: 1px;
                background-color: $redcolor;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                z-index: 1;
            }

            h2{
                font-size: 48px;
                line-height: 56px;
                font-weight: 400;
                font-family: 'Bebas Neue', sans-serif;
                color: #000;
                text-align: center;
                margin: 0;
                background-color: #fff;
                padding: 0 30px;
                position: relative;
                z-index: 2;
            }
        }
        &__list{
            max-width: 590px;
            margin: 0 auto;

            .pos{
                margin: 0 0 15px;

                &:last-of-type{
                    margin: 0;
                }

                &__name{
                    display: block;
                    font-size: 36px;
                    line-height: 46px;
                    font-weight: 400;
                    font-family: 'Bebas Neue', sans-serif;
                    color: #000;
                    margin: 0;
                    cursor: pointer;
                    transition: ease .3s;

                    &:hover{
                        color: $redcolor;
                    }
                }
                &__section{
                    display: block;
                    padding-left: 50px;
                    font-size: 36px;
                    line-height: 46px;
                    font-weight: 400;
                    font-family: 'Bebas Neue', sans-serif;
                    color: #000;
                    margin: 0;
                    cursor: pointer;
                    transition: ease .3s;

                    &:hover{
                        color: $redcolor;
                    }
                }
            }
        }
    }
}
@media (max-width: 1199px){
    .raspostMainheading{
        .tags{
            &__tag{
                font-size: 21px;
                line-height: 26px;
            }
        }
    }
}
@media (max-width: 767px){
    .raspostMainheading{
        padding: 26px 0 24px;

        .tags{
            margin: 0 0 28px;

            &__heading{
                font-size: 36px;
                line-height: 42px;
            }
            &__tag{
                font-size: 18px;
                line-height: 28px;
            }
        }
        .contentsTable{
            padding: 0;
            border: 0;
            box-shadow: unset;
            
            &__heading{
                h2{
                    font-size: 36px;
                    line-height: 42px;
                }
            }
            &__list{
                .pos{
                    margin: 0 0 10px;

                    &__name{
                        font-size: 21px;
                        line-height: 28px;
                    }
                    &__section{
                        font-size: 21px;
                        line-height: 28px;
                        padding-left: 30px;
                    }
                }
            }
        }
    }
}
@media (max-width: 575px){
    .raspostMainheading{
        .tags{
            display: block;

            &__heading{
                margin: 0 auto 10px;
                max-width: 280px;
            }

            &__tag{
                padding: 0;
                margin: 0;
                text-align: center;

                &:after{
                    display: none;
                }
            }
        }
    }
}

.breedInfo{
    padding: 32px 0 40px;
    
    &__wrap{
        h2{
            font-size: 48px;
            line-height: 58px;
            font-weight: 400;
            font-family: 'Bebas Neue', sans-serif;
            color: #000;
            text-align: center;
            margin: 0 0 20px;
        }
    }
    &__image{
        margin: 0 0 12px;
        display: flex;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__content{
        p{
            font-size: 24px;
            line-height: 32px;
            color: #000;
            text-align: justify;
            margin: 0 0 40px;

            &:last-of-type{
                margin: 0;
            }
        }
        ul{
            li{
                font-size: 24px;
                margin: 0 0 10px;

                &:last-of-type{
                    margin: 0;
                }
            }
        }
    }
    &__section{
        margin-top: 34px;

        h3{
            font-size: 36px;
            line-height: 43px;
            font-weight: 400;
            font-family: 'Bebas Neue', sans-serif;
            color: #000;
            margin: 0 0 22px;
            text-align: center;
        }
        p{
            font-size: 24px;
            line-height: 32px;
            color: #000;
            text-align: justify;
            margin: 0 0 40px;

            &:last-of-type{
                margin: 0;
            }
        }

        ul{
            li{
                font-size: 24px;
                margin: 0 0 10px;

                &:last-of-type{
                    margin: 0;
                }
            }
        }
    }
    &__banner{
        text-align: center;
        margin-top: 36px;

        img{
            width: 100%;
            max-width: 170px;
            margin: 0 0 20px;
        }
        h3{
            font-size: 64px;
            line-height: 77px;
            font-weight: 400;
            font-family: 'Bebas Neue', sans-serif;
            color: #000;
            margin: 0 0 32px;
            text-align: center;
        }
        .usp{
            display: flex;
            justify-content: space-between;

            &__pos{
                img{
                    width: 115px;
                    height: 115px;
                    margin: 0 0 15px;
                }
                p{
                    font-size: 20px;
                    line-height: 24px;
                    color: #000;
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }
}
@media (max-width: 767px){
    .breedInfo{
        padding: 25px 0 35px;

        &__wrap{
            h2{
                font-size: 36px;
                line-height: 42px;
            }
        }
        &__content{
            p{
                font-size: 18px;
                line-height: 24px;
                margin: 0 0 25px;
            }
            ul{
                li{
                    font-size: 18px;
                    margin: 0 0 6px;
                }
            }
        }
        &__section{
            h3{
                font-size: 28px;
                line-height: 34px;
                margin: 0 0 10px;
            }
            ul{
                li{
                    font-size: 18px;
                    margin: 0 0 6px;
                }
            }
            p{
                font-size: 18px;
                line-height: 24px;
                margin: 0 0 25px;
            }
        }
        &__banner{
            img{
                max-width: 70px;
                margin: 0 0 5px;
            }
            h3{
                font-size: 28px;
                line-height: 34px;
                margin: 0 0 15px;
            }
            .usp{
                max-width: 320px;
                margin: 0 auto;

                &__pos{
                    &:nth-child(2),
                    &:nth-child(4){
                        display: none;
                    }

                    img{
                        height: 85px;
                        margin: 0 0 5px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}

.postAuthor{
    padding: 30px 0 40px;

    &__title{
        font-size: 48px;
        line-height: 58px;
        font-weight: 400;
        font-family: 'Bebas Neue', sans-serif;
        color: #000;
        text-align: center;
        margin: 0 0 25px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        padding: 50px 40px 35px;
    }
    &__author{
        width: 265px;
        margin-right: 40px;

        .image{
            display: flex;
            width: 100%;
            border: 2px solid #F79E1B;
            border-radius: 100%;
            margin: 0 0 20px;
            padding: 11px;

            img{
                width: 100%;
                border-radius: 100%;
            }
        }
        h3{
            font-size: 26px;
            line-height: 32px;
            font-weight: 400;
            font-family: 'Bebas Neue', sans-serif;
            color: #000;
            margin: 0;
            text-align: center;
        }
    }
    &__about{
        width: calc(100% - 305px);
        
        p{
            font-size: 24px;
            line-height: 32px;
            color: #000;
            text-align: justify;
            margin: 0;
        }
    }
}
@media (max-width: 1199px){
    .postAuthor{
        &__content{
            flex-direction: column;
            padding: 35px 40px;
        }
        &__author{
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;

            .image{
                width: 240px;
                margin: 0 auto 20px;
            }
        }
        &__about{
            width: 100%;
        }
    }
}
@media (max-width: 767px){
    .postAuthor{
        &__title{
            font-size: 36px;
            line-height: 42px;
        }
        &__content{
            padding: 0;
            border: 0;
            box-shadow: unset;
        }
        &__author{
            .image{
                max-width: 200px;
            }
        }
        &__about{
            p{
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}

/**
 *  Sidebar
 */
.postSidebar{
    display: flex;
    position: absolute;
    right: -870px;
    left: 0;
    top: 33px;
    width: 268px;
    margin: 0 auto;
    transition: top ease .1s;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);

    a{
        display: flex;
        transition: ease .3s;

        &:hover{
            opacity: .9;
        }

        img{
            width: 100%;

            &.mobile{
                display: none;
            }
        }
    }
}
@media (max-width: 1199px){
    .postSidebar{
        right: 0;
        width: 100%;
        position: fixed;
        top: auto !important;
        bottom: 0;
        z-index: 99;
        box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.1);

        a{
            img{
                &.desktop{
                    display: none;
                }
                &.mobile{
                    display: block;
                }
            }
        }
    }
}